<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <form id="updateForm" method="post">

        <label> Name </label>
        <input type="text" name="name" id="name" value="<%- user.name%>" placeholder="Enter Name" />
        <br/>
        <br/>
        <label> Age </label>
        <input type="number" name="age" id="age" value="<%- user.age%>" placeholder="Enter Age" />
        <br/>
        <br/>
        <h4>Gender</h4>
        <label>Male</label>
        <input type="radio" id="male" value="<%- user.male%>" name="gender" />
        <br/>
        <br/>
        <label>Female</label>
        <input type="radio" id="female" value="<%- user.female%>" name="gender" />
        <br/>
        <br/>
        <label> Email </label>
        <input type="email" name="email" id="email" value="<%- user.email%>" placeholder="Enter Email" />
        <br/>
        <br/>
        <label> City </label>
        <input type="text" name="city" id="city" value="<%- user.city%>" placeholder="Enter City" />
        <br/>
        <br/>
        <button type="submit" value="Submit"> Submit </button>

    </form>
    <script>
        const form = $("#updateForm")
        form.on("submit", submitHandler)

        function submitHandler(e) {
            e.preventDefault()
            $.ajax({
                url: "http://localhost:5000/update/<%- user._id%>",
                type: "post",
                data: form.serialize()
            })
            window.location.href='http://localhost:5000/show'
        }
    </script>
</body>
</html>